<div class="max-w-3xl mx-auto px-4 py-10">

  <a routerLink="/novedades"
     class="text-cife-primary text-sm hover:text-cife-dark transition-colors mb-6 inline-block">
    ← Volver a novedades
  </a>

  <app-loading-spinner *ngIf="cargando" />

  <div *ngIf="!cargando && novedad">

    <p class="text-cife-muted text-xs mb-3">
      {{ novedad.fechaPublicacion | date:'d \'de\' MMMM, yyyy' }}
    </p>

    <h1 class="font-display text-3xl font-medium text-cife-text mb-3 leading-tight">
      {{ novedad.titulo }}
    </h1>

    <p *ngIf="novedad.subtitulo"
       class="text-cife-muted text-lg italic mb-6 leading-relaxed">
      {{ novedad.subtitulo }}
    </p>

    <div *ngIf="novedad.imagenes && novedad.imagenes.length > 0" class="mb-8">
      <app-carousel [imagenes]="novedad.imagenes" [alt]="novedad.titulo"></app-carousel>
    </div>


    <p class="text-cife-text text-sm leading-relaxed whitespace-pre-wrap">
      {{ novedad.descripcion }}
    </p>

  </div>

  <div *ngIf="!cargando && !novedad"
       class="text-center py-16 text-cife-muted text-sm">
    No se encontró la novedad solicitada.
  </div>

</div>